# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author:
Oscar Thiele Serrano

**Objectives:**
- list popular data science languages
- list commonly used libraries in data science
- evaluate arithmetic using python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Keras
3. PyTorch

|Data Science Tools|
|------------------|
|Apache Spark      |
|Jupyter           |
|MatLab            |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335